.button {
	margin: 10px;
	border: none;
	outline: none;
	background-color:#86c4b3;
	height: 50px;
	color: #e8d19d;
	font-size: 3em;
}

.button:hover {
	color: #782644;
}


/* Portrait */
@media only screen 
  and (max-width: 360px) 
  and (max-height: 640px) 
  and (orientation: portrait) {
		.button {
			margin: 0;
			height: 50px;
			font-size: 2em;
			margin-top: 25px;
			margin-left: -25px;
			color: #782644;
			background-color: transparent;
		}
	}