.addBtn {
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: sans-serif;
	font-size: 0.8em;
	align-items: center;
	border: none;
	outline: none;
	border-radius: 50px;
	background-color: #18202C;
	color:#86c4b3;
}

.Icon {
	font-size: 1.8em;
	margin-bottom: 5px;
}

.addBtn:hover {
	background-color:#86c4b3;
	color: #18202C;
}