.slideWrapper {
	width: 800px;
	height: 400px;
	border-radius: 15px;
	background-color:	#e8d19d;
}

/* .slideInfo {

} */

.slideImage {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	background-color: snow;
	width: 400px;
	height: 400px;
}