.cardsTopBar {
	display: flex;
	justify-content: space-between;
	line-height: 50px;
	padding-left: 20px;
	font-size: 1.2em;
	height: 50px;
	width: 100%;
	color: #782644;
}

.sortButtonsWrapper {
	display: flex;
	width: 600px;
	justify-content: flex-end;
	align-items: center;
}


.input {
	width: 50px;
	padding-left: 10px; 
	align-self: flex-end;
	margin-bottom: 30px;
	border: none;
	outline: none;
	border-bottom: 1px solid #782644;
	color: #782644;
}

.input:hover {
	border-bottom: 2px solid #782644;
}

.inputLabel {
	font-size: 0.8em;
}

.sortButton {
	margin: 5px;
	border-radius: 20px;
	width: 80px;
	height: 40px;
	border: none;
	outline: none;
	background-color: #18202C;
	color: #86c4b3;
}

.sortButton:hover {
	opacity: 0.8;
}

.sortButtonSelected {
	margin: 5px;
	border-radius: 20px;
	width: 80px;
	height: 40px;
	border: none;
	outline: none;
	background-color: #86c4b3;
	color: #18202C;
}

.filterByPriceWrapper {
	display: flex;
	flex-direction: row-reverse;
	height: 50px;
	justify-content: center;
	align-items: center;
}

.inputs__wrapper {
	display: flex;
}

@media only screen 
  and (max-width: 360px) 
  and (max-height: 640px) 
	and (orientation: portrait) {
		.cardsTopBar {
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
			padding-left: 10px;
			line-height: 0px;
			height: 100px;
			width: 360px;
			border-bottom: 2px dashed #782644;
		}

		.header{
			margin-top: 15px;
			font-size: 1em;
		}

		.sortButtonsWrapper {
			display: flex;
			
			justify-content: space-between;
			height: 60px;
			width: 360px;
			margin-right: 20px;
		}

		.filterByPriceWrapper {
			height: 60px;	
			flex-direction: column;
			
		}


		.input {
			width: 30px;
		}

		.sortButton {
			margin: 5px;
			border-radius: 10px;
			width: 80px;
			height: 40px;
			border: none;
			outline: none;
			background-color: #18202C;
			color: #86c4b3;
		}

		
	.sortButtonSelected {
		margin: 5px;
		border-radius: 20px;
		width: 80px;
		height: 40px;
		border: none;
		outline: none;
		background-color: #86c4b3;
		color: #18202C;
	}
}