.Wrapper {
	display: flex;
	flex-direction: column;
}

.midWrapper {
	height: 520px;
	display: flex;
}

.midWrapper__section1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 20px; 
	flex-grow: 2;
	height: 520px;
	border: 2px solid #782644;
}

.cart__Wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 450px;
	width: 650px;
	overflow: auto;
	border: 4px solid #782644;
	border-radius: 15px;
	background-color:  #e8d19d;
}

.midWrapper__section2 {
	width: 500px;
	height: 520px;
	background-color:  #782644;
}
.totalOfAllItems {
	margin-top: 5px;
	margin-right: 5px;
	align-self: flex-end;
	border-radius: 20px;
	font-weight: 700;
	height: 30px;
	width: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 3px solid #782644;
	border-bottom: 3px solid #782644;
	color: #782644;
	background-color:  #e8d19d;
}