.cartItem__wrapper {
	display: flex;
	height: 40px;
	color: #782644;
	font-weight: 700;
	background-color:  #e8d19d;
}

.cartCellTitle__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 250px;
}

.cartCellNumber__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
}

.cartCellImage__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
}

/* Portrait */
@media only screen 
  and (max-width: 360px) 
  and (max-height: 640px) 
	and (orientation: portrait) {
		.cartItem__wrapper {
			width: 340px;
			justify-content: center;
			font-weight: 600;
			font-size: 1em;
		}
		
		.cartCellTitle__wrapper {
			padding-right: 10px;
			justify-content: flex-end;
			width: 100px;
		}
	}